@import url('https://fonts.googleapis.com/css2?family=Iceberg&family=Notable&display=swap');

body {
    background: #000000;
    background: linear-gradient(160deg,rgba(0, 0, 0, 1) 0%, rgba(247, 12, 12, 1) 29%, rgba(237, 221, 83, 1) 89%);
    font-family: "Notable", monospace;
}

header {
    background-color: #222;
    color: #bc9927;
    padding: 10px 10px;
}

header h1 {
    font-size: 40px;
    font-family: "Iceberg", sans-serif;
}

.header-container {
    display: flex;
    justify-content: flex-start;
}

.logo {
    width: 100px;
    height: 100px;
    margin: 20px 30px 0 0;
    object-fit: contain;
}

footer {
    background-color: #fcfcfc91;
    color: #222;
    padding: 20px 20px;
    text-align: center;
    font-family: sans-serif;
}

.redes-container {
    display: flex;
    justify-content: center;
}

.producto {
    width: 200px;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    margin: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.producto-img {
    width: 100%;
    height: auto;
}

.producto-nombre {
    font-size: 1.2rem;
    margin: 10px 0 5px;
    color: #222;
    font-family: "Iceberg", Arial, Helvetica, sans-serif;
}

.producto-precio {
    font-size: 1rem;
    color: #aa0000;
}

.productos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
    li a {
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
}

.menu-container {
    background-color: #222;
    margin: 0 auto;
    padding: 20px 20px;
}

section {
    max-width: 800px;
    margin: 40px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 12px;
}

section h2 {
    text-align: center;
    color: #bc9927;
    margin-bottom: 20px;
}

form div {
    margin-bottom: 20px;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
}

.reseñas-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.reseña {
    background-color: #ffffffa3;
    padding: 20px;
    border-radius: 12px;
    font-family: sans-serif;
    border: 2px solid #ccc;
}

.producto-nombre {
    color: #333;
    margin-bottom: 10px;
}

.comentario {
    font-style: italic;
    color: #333;
    margin-bottom: 12px;
}

.autor {
    font-weight: bold;
    color: #aa0000;
}


@media (max-width: 600px) {
  .reseñas-container {
       grid-template-columns: 1fr;
   }
}

form div {
  display: flex;
  flex-direction: column;
}