.redes-logos {
    width: 30px;
}

footer {
    background-color: #fcfcfc91;
    color: #222;
    padding: 20px 20px;
    text-align: center;
    font-family: sans-serif;
}

.redes-container {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.red-icon {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease-in-out;
}

.red-icon:hover {
  transform: scale(1.2);
}