@import url('https://fonts.googleapis.com/css2?family=Iceberg&family=Notable&display=swap');

body {
    background: #000000;
    background: linear-gradient(160deg,rgba(0, 0, 0, 1) 0%, rgba(247, 12, 12, 1) 29%, rgba(237, 221, 83, 1) 89%);
    font-family: "Notable", monospace;
}

header {
    background-color: #222;
    color: #bc9927;
    /* padding: 10px 10px; */
}

header h1 {
    font-size: 40px;
    font-family: "Iceberg", sans-serif;
}

.header-container {
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;
    justify-content: space-between;
    /* padding: 10px 20px; */
}

footer {
    background-color: #fcfcfc91;
    color: #222;
    padding: 20px 20px;
    text-align: center;
    font-family: sans-serif;
}

.redes-container {
    display: flex;
    justify-content: center;
}

/* section h2 {
  color: #bc9927;
  position: relative;
  display: inline-block;
  z-index: 1;
  text-align: center;
  margin: 0 auto;
}

Fondo decorativo detrás del h2
section h2::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("imagenes/pincelada.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 150px;
  height: 150px;
  z-index: -1;
  opacity: 0.3;
} */

section {
    max-width: 800px;
    margin: 40px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 12px;
}

section h2 {
    text-align: center;
    color: #bc9927;
    margin-bottom: 20px;
}

form div {
    margin-bottom: 20px;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
}

@media (max-width: 600px) {
  .reseñas-container {
       grid-template-columns: 1fr;
   }
}

form div {
  display: flex;
  flex-direction: column;
}